/* angular-material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* end angular-material icons */


.btn, .btn-large {
  margin-top: 30px;
}

.form-title{
  margin-bottom: 30px
}

 .account-create-success{
   padding-top: 20px;
   background-color: #26a69a;
   color: white;
 }

 .account-create-error{
   background-color: #F44336;
   color: white;
 }

 .account-validate-success{
   background-color: #26a69a;
   color: white;
 }
